<div class="container-fluid">
	<div class="row">
		<h1>Food Tracker</h1>
	</div>
	<div class="row center">
		<button class="btn btn-primary btn-large" id="nf">Insert new food</button>
		<button class="btn btn-primary btn-large" id="nm">Insert new meal</button>
		<button class="btn btn-info btn-large" id="lof">List of foods</button>
	</div>
	
	<div class="row">
		<div id="content">

		</div>
	</div>
</div>