<div class="container-fluid">
	<div class="row up">
		<h1>New Food</h1>
	</div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 center">
			<%= render 'form'%> 
		</div>
		<div class="col-md-3"></div>
	</div>
</div>