<div class="container-fluid">
	<div class="row"></div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 center">
			<p class="lead">
				<strong>Name:</strong>
				<%= @food.name %>
			</p>
			<p class="lead">
				<strong>Quantity:</strong>
				<%= @food.quantity %>
			</p>
			<p class="lead">
				<strong>Units:</strong>
				<%= @food.units %>
			</p>
			<%= link_to "Back", root_path %>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>