// Place all the styles related to the storehouse controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	font-family: 'Lato', sans-serif;
}
.navbar{
	background: #4285f4;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
	color: white;
}
.center{
	display: block;
}
.text{
	resize: none;
}
th{
	text-align: center;
}
.command{
	width: 15%;
}
.command a{
	width: 100%;
}
.alert{
	margin:0;
}
.user{
	padding: 15px;
	margin: 0;
}
.table > thead > tr > .ldc{
	width: 100%;
	text-align: center;
}
.table > tbody > tr > .int{
	padding: 0;
	border-top: none;
}
.interna{
	margin: 0;
}
.interna > tbody > .ontr{
	width: 100%;
}
.interna > tbody > .ontr > .int2{
	width:33%;
}

